click==8.0.4
Flask==2.0.3
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1643958864787/work
pandas==1.4.1
psycopg2 @ file:///Users/runner/miniforge3/conda-bld/psycopg2-split_1640944572059/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
SQLAlchemy==1.4.31
Werkzeug==2.0.3
